<h2>Some personnal realisations</h2>
<div class="projects">
    <mat-card>
      <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6927592813589094400?compact=1" height="399" width="710" frameborder="0" allowfullscreen="" title="Post intégré"></iframe>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions><button mat-button></button></mat-card-actions>
    </mat-card>
    <mat-card>

      <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6921948624033648640?compact=1" height="399" width="710" frameborder="0" allowfullscreen="" title="Post intégré"></iframe>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions><button mat-button></button></mat-card-actions>
    </mat-card>

    <mat-card class="not-iframe">

      <img mat-card-image src="/assets/LMS_G8.png" alt="LMS">
      <mat-card-content>
        <p>
          A library management application, to follow books you lend and to automaticaly alert the borrower when the time allocated is about to be over.
        </p>
      </mat-card-content>
      <mat-card-actions><button mat-button></button></mat-card-actions>
    </mat-card>
    <mat-card class="not-iframe">

      <img mat-card-image src="/assets/attendApp.png" alt="Attend App">
      <mat-card-content>
        <p>
          A mobile application for attendance control management
        </p>
      </mat-card-content>
      <mat-card-actions><button mat-button></button></mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>
          And many others projects whixh are not mentionned here, but you can have a look on by making a jump to <a href="https://github.com/Martial203">my GitHub profile</a>
        </p>
      </mat-card-content>
      <mat-card-actions><button mat-button></button></mat-card-actions>
    </mat-card>
</div>
