<section class="presentation">
  <figure>
    <img src="/assets/MEAN_Stack.png" name="fullstack_MEAN" alt="MEAN_Stack">
  </figure>
  <div>
    <p>I'm a MEAN full stack web developper, passionated about
      development in general and web development in particular.
      I also have a particular interest on healthcare digital sytems,
      and cryptography. And so, Blockchain technologies constitute
      one of my great interests.</p>
  </div>
</section>
<section class="some-facts">
  <h2>Some facts</h2>
  <ul>
    <li>Senior technician specialized in web development, from the International Advanced
      School of digital engineering</li>
    <li>3rd year student in digital systems engineering in the International Advanced School
      of digital engineering</li>
    <li>Independant fullstack web developper</li>
    <li>Videos games and animes fan</li>
  </ul>
</section>
<section class="my-services">
  <h2>My services</h2>
  <div class="services">
    <mat-card *ngFor="let i of [1,2,3,4]">
      <mat-card-content>
        <p>
          lorem ipsum dolor sit amet no indra sut ipson
        </p>
      </mat-card-content>
      <mat-card-actions><button mat-button></button></mat-card-actions>
    </mat-card>
  </div>
</section>
