<table>
  <tr>
    <td>
      <p><strong>Scaladi</strong> is the pseudonym
      behind which we have me, <strong>Martial NOUNGA</strong>,
      a <strong>fullstack web developper</strong>
      who is going to use his skills to
      help you to design, build and
      deploy your web applications, to
      develop your activity or to walk
      toward your digital
      transformation.</p>
      </td>
    <td>
      <img src="/assets/Martial_NOUNGA.jpg" alt="Martial NOUNGA" name="Martial NOUNGA">
    </td>
  </tr>
</table>
<!-- <div class="container">
    <p><strong>Scaladi</strong> is the pseudonym
    behind which we have me, <strong>Martial NOUNGA</strong>,
    a <strong>fullstack web developper</strong>
    who is going to use his skills to
    help you to design, build and
    deploy your web applications, to
    develop your activity or to walk
    toward your digital
    transformation.</p>
  <figure>
    <img src="/assets/Martial_NOUNGA.jpg" alt="Martial NOUNGA" name="Martial NOUNGA">
  </figure>
</div> -->
