<h2>Contact me</h2>
<div class="footer-main-container">
  <div class="contacts">
    <ul>
      <li><a href="mailto:martialnounga@gmail.com">martialnounga@gmail.com</a></li>
      <li><a href="https://linkedIn.com/fr/martial-nounga">LinkedIn.com/fr/martial-nounga</a></li>
      <li><a href="https://github.com/Martial203">https://github.com/Martial203</a></li>
    </ul>
  </div>
  <form>
    <mat-form-field><input matInput type="email" name="email" id="email" placeholder="Your email"></mat-form-field>
    <mat-form-field><textarea matInput name="message" id="message" cols="2" rows="3" placeholder="Type your message here"></textarea></mat-form-field>
    <div class="buttons"><button type="submit" (click)="onSend()">Send</button></div>
  </form>
</div>
