h2{
  text-align: center;
  color: #64C7DF;
  text-shadow: 0px 1px 2px;
  margin-bottom: 0px;
}
.footer-main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .contacts{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul{
      list-style: none;
      li{
        margin-top: 20px;
        margin-right: 20px;
        color: #efefefc1;
      }
    }
  }
  form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    mat-form-field{
      width: 60%;
      // border: solid 0.5px #ffffff28;
      input{
        // background-color: #fff;
      }
    }
    .buttons{
      text-align: center;
      button{
        background-color: #64CCEA;
        border: none;
        border-radius: 30px;
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  
@media (max-width: 533px) {
  form{
    display: none;
  }
  .contacts{
    text-align: center;
  }
}
}
a{
  color: white;

}